/**
 * Frame
 */

.frame {
  position: relative;

  &::before {
    border: 0.1rem solid var(--color-border);
    content: '';
    height: 100%;
    left: 0.3rem;
    pointer-events: none;
    position: absolute;
    top: -0.3rem;
    width: 100%;
    z-index: 1;

    @include media-query('md') {
      border-width: 0.1rem;
      left: 0.5rem;
      top: -0.5rem;
    }
  }
}
