.headline {
  @include apply-utility('measure', 'long');
  @include apply-utility('font', 'display');
  font-size: get-size('800');
  font-weight: 800;

  @include media-query('md') {
    font-size: get-size('900');
  }
}
