{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/article.css'] %}

{% set pageHeaderTitle = title | widont %}

{% set pageHeaderSummary %}

  {% if subhead %}
  <h2 class="article__subhead subhead">{{ subhead | widont }}</h2>
  {% endif %}

  <div class="article__meta">
    <a href="{{ page.url }}" class="article__date u-url">
      <time datetime="{{ page.date | dateIso }}" class="dt-published">{{ page.date | dateReadable }}</time>
    </a>
    <span class="article__reading-time">{{ content | readingTime }}</span>
    {% if letterboxdLink %}
      <span class="article__syndicated">Syndicated to <a class="article__letterboxd-link" href="{{ letterboxdLink }}" target="_blank" rel="noopener">Letterboxd<?xml version="1.0"?><svg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24"><g style="fill:none;stroke-width:2;stroke-linecap:round;stroke-linejoin:round;stroke-miterlimit:10"><path d="m15 3h6v6"></path><path d="m21 3-10 10"></path><path d="m19 18v1c0 1.105-.895 2-2 2h-12c-1.105 0-2-.895-2-2v-12c0-1.105.895-2 2-2h1"></path></g></svg></a></span>
    {% endif %}
  </div>

  {%- if review.rating -%}
    {% set reviewRating = review.rating %}
    {% include 'partials/rating/svg.html' %}
  {%- endif -%}

{% endset %}


{% block content %}

  <article class="h-entry">
    {% include "partials/page-header.html" %}

    {% if featuredImage %}
    <figure class="featured-image">
      <div class="wrapper">
        {% if build.env == 'production' %}
          <img 
            src="https://res.cloudinary.com/smithtimmytim/image/fetch/w_400,f_auto,q_auto/{{ site.url }}{{ featuredImage }}"
            alt="Featured Image for {{ title }}"
            srcset="https://res.cloudinary.com/smithtimmytim/image/fetch/w_480,f_auto,q_auto/{{ site.url }}{{ featuredImage }} 480w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_1000,f_auto,q_auto/{{ site.url }}{{ featuredImage }} 1000w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_2400,f_auto,q_auto/{{ site.url }}{{ featuredImage }} 2400w"
            loading="lazy" />
        {% else %}
          <img src="{{ featuredImage }}" alt="Featured Image for {{ title }}" loading="lazy">
        {% endif %}
      </div>
    </figure>
    {% endif %}

    <div class="[ wrapper ] [ gap-top-700 md:gap-top-900 gap-bottom-700 md:gap-bottom-900 ]">
      <div class="inner-wrapper">
        <article class="[ page-content ] [ flow flow-space-500 hyphens ] [ e-content ]">
          {{ content | safe }}
        </article>
      </div>

      {% include 'partials/post-series.html' %}
    </div>

    {% include "partials/webmention-list.html" %}
  </article>

{% endblock %}
