{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/article.css'] %}

{% set pageHeaderTitle = title | widont %}

{% set pageHeaderSummary %}

  {% if subhead %}
  <h2 class="article__subhead subhead">{{ subhead | widont }}</h2>
  {% endif %}

  <div class="article__meta">
    <a href="{{ page.url }}" class="article__date u-url">
      <time datetime="{{ page.date | dateIso }}" class="dt-published">{{ page.date | dateReadable }}</time>
    </a>
    <span class="article__reading-time">{{ content | readingTime }}</span>
  </div>

{% endset %}


{% block content %}

  <article class="h-entry">
    {% include "partials/page-header.html" %}

    {% if featuredImage %}
    <figure class="featured-image">
      <div class="wrapper">
        {% if build.env == 'production' %}
          <img 
            src="https://res.cloudinary.com/smithtimmytim/image/fetch/w_400,f_auto,q_auto/{{ site.url }}{{ featuredImage }}"
            alt="Featured Image for {{ title }}"
            srcset="https://res.cloudinary.com/smithtimmytim/image/fetch/w_480,f_auto,q_auto/{{ site.url }}{{ featuredImage }} 480w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_1000,f_auto,q_auto/{{ site.url }}{{ featuredImage }} 1000w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_2400,f_auto,q_auto/{{ site.url }}{{ featuredImage }} 2400w"
            loading="lazy" />
        {% else %}
          <img src="{{ featuredImage }}" alt="Featured Image for {{ title }}" loading="lazy">
        {% endif %}
      </div>
    </figure>
    {% endif %}

    <div class="[ wrapper ] [ gap-top-700 md:gap-top-900 gap-bottom-700 md:gap-bottom-900 ]">
      <article class="[ page-content ] [ flow flow-space-500 hyphens ] [ e-content ]">
        {{ content | safe }}
      </article>
    </div>

    {% include "partials/webmention-list.html" %}
  </article>

{% endblock %}
