{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/home.css'] %}


{% block content %}

  <div class="cover">
    <div class="cover__inner wrapper">
      <div class="[ cover__text ] [ flow flow-space-300 ]">
        <h1 class="cover__title headline">Howdy! I’m&nbsp;Tim&nbsp;&mdash;</h1>
        <h2 class="cover__subhead subhead">a Latinx geek, coffee snob, and maker of stuff in <a href="https://en.wikipedia.org/wiki/Oceanside,_California" target="_blank" rel="noopener">Oceanside,&nbsp;CA</a></h2>
        <p class="cover__description">I’m a talented designer and developer that’s worked on the web for over ten years building thoughtful, intuitive, and inclusive user experiences.</p>
      </div>

      <div class="cover__media">
        <img 
          src="https://res.cloudinary.com/smithtimmytim/image/fetch/w_400,f_auto,q_auto/{{ site.url }}/images/home/cover-image.jpg"
          alt="Image of Timothy Smith"
          srcset="https://res.cloudinary.com/smithtimmytim/image/fetch/w_480,f_auto,q_auto/{{ site.url }}/images/home/cover-image.jpg 480w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_1000,f_auto,q_auto/{{ site.url }}/images/home/cover-image.jpg 1000w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_1800,f_auto,q_auto/{{ site.url }}/images/home/cover-image.jpg 1800w"
          loading="lazy" />
      </div>

    </div>
  </div>

  <div class="home-body">
    <div class="[ home-body__inner ] [ wrapper ] [ gap-top-700 md:gap-top-900 gap-bottom-700 lg:gap-bottom-900 ]">
      <div class="home-body__sidebar">

        {% include "partials/film-diary.html" %}

        {% include "partials/coding.html" %}

      </div>
      <div class="home-body__content">
        <h1 class="[ home-body__title ] [ gap-bottom-600 ]">About Me</h1>
        <div class="page-content flow flow-space-500">
          {{ content | safe }}
        </div>
      </div>
    </div>
  </div>

  {% include "partials/recently-played.html" %}

{% endblock %}
