{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/note.css'] %}
{% set socialExclude = true %}

{% set metaTitle = 'Note: ' + page.date | dateReadable('ddd, MMM Do, YYYY [at] h:mm a') + ' - ' + site.name %}

{% block content %}
  <article class="h-entry">

    <div class="wrapper ">
      <article class="[ note__body ] [ page-content ] [ flow flow-space-500 ] [ e-content ]">
        {{ content | safe }}
      </article>

      <footer class="[ note__footer ] [ gap-top-700 ]">
        <p><a href="{{ page.url }}" class="[ note__url ] [ u-url ]">{{ page.date | dateReadable('ddd, MMM Do, YYYY [at] h:mm a') | widont }}</a> <span class="color-tertiary">&infin;</span></p>
      </footer>
    </div>

    {% include "partials/webmention-list.html" %}
    
  </article>

{% endblock %}
