{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/photo.css'] %}

{% set metaTitle = 'Photo: ' + page.date | dateReadable + ' - ' + site.name %}


{% block content %}
  <article class="h-entry">

    {% if content %}
    <div class="wrapper">
      <article class="[ photo__body ] [ page-content ] [ flow flow-space-700 gap-bottom-700 md:gap-bottom-900 ] [ e-content p-name ]">
        {{ content | safe }}
      </article>
    </div>
    {% endif %}

    <div class="bg-light-glare panel">
      <div class="wrapper">
        <figure class="photo-list flow flow-space-600 e-content">
          {% for item in photo %}
            <img 
              src="{{ item.url }}" 
              {% if item.alt %}alt="{{ item.alt }}"{% endif %}
              class="u-photo">
          {% endfor %}
        </figure>
      </div>
    </div>

    <div class="wrapper">
      <footer class="[ photo__footer ] [ gap-top-700 md:gap-top-900 ]">
        <p><a href="{{ page.url }}" class="[ photo__url ] [ u-url ]">{{ page.date | dateReadable | widont }}</a> <span class="color-tertiary">&infin;</span></p>
      </footer>
    </div>

    

    {% include "partials/webmention-list.html" %}
    
  </article>

{% endblock %}
