{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/photo.css'] %}

{% set metaTitle = 'Photo: ' + page.date | dateReadable + ' - ' + site.name %}


{% block content %}
  <article class="h-entry">

    <div class="wrapper">
      

      <article class="[ photo__body ] [ page-content ] [ flow flow-space-700 ] [ e-content p-name ]">
        {{ content | safe }}
        
        <figure class="photo-list flow flow-space-600">
          {% for item in photo %}
            <img 
              src="{{ item.url }}" 
              {% if item.alt %}alt="{{ item.alt }}"{% endif %}
              class="u-photo">
          {% endfor %}
        </figure>
      </article>

      <footer class="[ photo__footer ] [ gap-top-700 ]">
        <p><a href="{{ page.url }}" class="[ photo__url ] [ u-url ]">{{ page.date | dateReadable | widont }}</a> <span class="color-tertiary">&infin;</span></p>
      </footer>
    </div>

    

    {% include "partials/webmention-list.html" %}
    
  </article>

{% endblock %}
