{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/photo.css'] %}

{% set metaTitle = 'Note: ' + page.date | dateReadable('ddd, MMM Do, YYYY [at] h:mm a') + ' - ' + site.name %}

{% set pageHeaderSummary %}
  <p>Subscribe to the <a href="/blog/feed.xml">RSS Feed</a>.</p>

  <h1 class="note__title"><a href="{{ page.url }}" class="[ note__url ] [ u-url ]">{{ page.date | dateReadable | widont }}</a></h1>
{% endset %}


{% block content %}
  <article class="h-entry">


    <div class="photo-gallery bg-dark-shade panel">
      <div class="wrapper">
        <ul class="photo-gallery__list">
          {% for item in photo %}
          <li class="photo-gallery__photo">
            <img src="{{ item.url }}" {% if item.alt %}alt="{{ item.alt }}"{% endif %}>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>

    <div class="[ wrapper ] [ gap-top-700 md:gap-top-900 gap-bottom-700 md:gap-bottom-900 ]">
      <article class="page-content flow flow-space-700 e-content">
        {{ content | safe }}
      </article>
    </div>

    

    {% include "partials/webmention-list.html" %}
    
  </article>

{% endblock %}
