{% extends "layouts/base.html" %}
{% set pageCriticalStyles = ['css/work.css'] %}

{% set pageHeaderTitle = title %}
{% set pageHeaderSummary = content %}

{% block content %}

  {% include "partials/page-header.html" %}

  <article class="[ portfolio ] [ wrapper ] [ gap-top-900 gap-bottom-900 ]">
    {% for item in collections.work %}
    <figure class="[ portfolio__item ] [ flow flow-space-500 ]">
      <div 
        class="[ portfolio-item__media ] [ frame ]"
        data-frame="light-shade">
        {% if build.env == 'production' %}
          <img 
          src="https://res.cloudinary.com/smithtimmytim/image/fetch/w_400,f_auto,q_auto/{{ site.url }}{{ item.data.thumb }}"
          alt="Thumbnail image for {{ item.title }}"
          srcset="https://res.cloudinary.com/smithtimmytim/image/fetch/w_480,f_auto,q_auto/{{ site.url }}{{ item.data.thumb }} 480w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_1000,f_auto,q_auto/{{ site.url }}{{ item.data.thumb }} 1000w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_1800,f_auto,q_auto/{{ site.url }}{{ item.data.thumb }} 1800w"
          loading="lazy" />
        {% else %}
          <img 
            src="{{ item.data.thumb }}"
            alt="Thumbnail image for {{ item.title }}"
            loading="lazy"
          />
        {% endif %}
      </div>

      <figcaption class="[ portfolio-item__content ] [ flow flow-space-400 ]">
        <h2 class="portfolio-item__heading">
          <a href="{{ item.url }}">{{ item.data.title }}</a>
        </h2>
        <p class="[ portfolio-item__description ] [ hyphens ]">
          {{ item.data.subhead }}
        </p>
      </figcaption>
    </figure>
  {% endfor %}
  </article>

{% endblock %}


