.archive-grid {
  display: grid;
  grid-gap: get-size('800');
  grid-template-areas:
    'sidebar'
    'main';

  @include media-query('lg') {
    grid-template-areas: 'main sidebar';
    grid-template-columns: 2fr 1fr;
  }
}

.grid__main {
  grid-area: main;
}

.grid__sidebar {
  display: grid;
  grid-area: sidebar;
  grid-gap: get-size('600');
  grid-template-columns: 1fr 1fr;

  @include media-query('lg') {
    display: block;
    // grid-template-columns: none;
    // grid-gap: 0;
  }
}
