.article__category {
  color: var(--color-link);
  font-size: get-size('400');
  font-weight: bold;
  text-decoration: none;

  text-transform: uppercase;
}

.article__subhead {
  color: var(--color-text);
}

.article__meta {
  align-items: center;
  display: flex;
  margin-top: get-size('600');
}

.article__date {
  color: var(--color-text-alt);
}

.article__reading-time {
  color: var(--color-text-accent);
  font-size: get-size('400');
  margin-left: get-size('400');
}

.article__syndicated {
  flex: 1;
  font-size: 0.8rem;
  justify-self: flex-end;
  margin-left: get-size('400');
  text-align: right;

  svg {
    margin-left: 0.2rem;
    position: relative;
    top: -0.1em;
    width: 0.85em;
  }

  g {
    stroke: var(--color-text-alt);
  }

  .article__letterboxd-link {
    align-items: center;
    color: var(--color-text-alt);
    display: inline-flex;
    text-decoration-color: var(--color-border);
  }
}
