.button {
  background-color: get-color('primary');
  border: 0;
  border-radius: var(--border-radius);
  color: get-color('light');
  cursor: pointer;
  display: inline-block;
  font-size: get-size('400');
  font-weight: 700;
  line-height: 1;
  padding: 1rem 1.6rem;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  transition: background 300ms ease-in-out;

  // Make sure hover state trumps all variants with a good ol’ important
  &:hover {
    background: get-color('primary-shade');
    color: get-color('light') !important;
  }

  // Add a ghost modifier
  &[data-variant='ghost'] {
    background: transparent;
    border: 2px solid;
    color: get-color('primary');

    &:hover,
    &:focus {
      background: get-color('primary');
      border-color: get-color('primary');
    }
  }

  &[data-variant='light'] {
    background: transparent;
    border: 2px solid;
    color: get-color('light');

    &:hover,
    &:focus {
      background: rgba(355, 355, 355, 0.1) !important;
      border-color: get-color('light');
      color: get-color('light') !important;
      outline-color: get-color('light');
    }
  }

  &[data-variant='dark'] {
    background-color: get-color('dark-shade');

    &:hover,
    &:focus {
      background-color: get-color('dark');
    }
  }
}
