.coding {
  background-color: var(--color-bg-alt);
  border-left: 0.5rem solid var(--color-border);
  padding: get-size('700');
  border-radius: 0.25rem;
  margin-top: get-size('800');
  position: relative;

  &:after {
    background-color: var(--color-bg);
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' viewBox='0 0 24 24' fill='%23f9b98b'%3E%3Cpath d='m18.939 6.94c-.586-.586-1.535-.586-2.121 0s-.586 1.535 0 2.121l2.94 2.939-2.939 2.939c-.586.586-.586 1.535 0 2.121.293.293.677.439 1.061.439s.768-.146 1.061-.439l5.059-5.06zm-11.757 0c-.586-.586-1.535-.586-2.121 0l-5.061 5.06 5.061 5.061c.293.293.676.439 1.06.439s.768-.146 1.061-.439c.586-.586.586-1.535 0-2.121l-2.94-2.94 2.939-2.939c.587-.586.587-1.535.001-2.121zm8.081-6.905c-.534-.146-1.083.17-1.228.702l-6 22c-.145.532.169 1.082.702 1.228.088.024.177.035.263.035.44 0 .843-.292.964-.737l6-22c.146-.532-.168-1.082-.701-1.228z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45%;
    border-radius: 100%;
    content: '';
    display: block;
    font-size: get-size('900');

    position: absolute;
    top: -1.4rem;
    left: 87%;

    width: 5rem;
    height: 5rem;

    z-index: 2;
  }

  .cursor {
    animation: 1s blink step-end infinite;
    background-color: get-color('secondary-glare');
    width: 0.1em;
    height: 1em;
    display: inline-block;
    position: relative;
    top: 0.2em;
    margin-left: 0.1rem;
  }
}

.stats__list {
  font-size: get-size('400');
  margin-top: get-size('500') !important;

  li {
    align-items: center;
    color: var(--color-text);
    display: flex;
    font-weight: bold;
    line-height: 1.1;
    + li {
      margin-top: get-size('300');
    }
  }

  svg {
    width: 1em;
    height: 1em;
    fill: var(--color-accent);
    margin-right: 0.5rem;
  }
}

.language-list {
  margin-top: get-size('500') !important;

  .language__item {
    align-items: center;
    display: grid;
    font-size: get-size('400');
    grid-template-columns: auto auto 1fr;
    grid-gap: 0.5rem;
    + .language__item {
      margin-top: 0.5rem;
    }
  }

  .language__name {
    color: var(--color-text);
  }

  .language__time {
    color: var(--color-text-accent);
    font-size: 0.8em;
    text-align: right;
    line-height: 1.1;
  }

  .progress {
    border-radius: 20rem;
    width: 100%;
  }

  .progress-length {
    height: 0.5rem;
    border-radius: 20rem;
  }
}

// Blink Animation
@keyframes blink {
  from,
  to {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}
