.cover {
  background-color: var(--color-bg-alt);
  @include media-query('md') {
    height: 75vh;
    max-height: 42rem;
  }
}

.cover__inner {
  display: flex;
  flex-direction: column-reverse;

  @include media-query('md') {
    flex-direction: row;
  }
}

.cover__text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: get-size('700') 0;

  @include media-query('md') {
    margin-right: get-size('800');
    max-width: 55ch;
  }
}

.cover__media {

  @include media-query('md') {
    max-width: 32rem;
  }

  img {
    margin-left: 50%;
    max-width: none;
    transform: translateX(-50%);
    width: 100vw;

    @include media-query('md') {
      height: 75vh;
      max-height: 42rem;
      object-fit: cover;
      width: 100%;
    }
  }
}

.cover__description {
  margin-top: get-size('600');
}
