.cover {
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  max-height: var(--cover-max-height);
  max-width: var(--cover-max-width);
  overflow: hidden;
  position: relative;
}

.cover__media {
  height: 100vh;
  max-height: var(--cover-max-height);
  max-width: var(--cover-max-width);
  overflow: hidden;
  position: fixed;
  width: 100vw;

  img {
    height: 100%;
    object-fit: cover;
    width: 100%;

    @include media-query('xxl') {
      height: auto;
    }
  }
}

.cover__text {
  background: linear-gradient(0deg, var(--color-bg), transparent);
  bottom: 0;
  left: 0;
  padding: get-size('800');
  position: absolute;
  right: 0;
  z-index: 100;
}
