.featured-image {
  position: relative;

  &:before {
    background-color: get-color('light-glare');
    content: '';
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }

  img {
    border-radius: 0.25rem;
  }
}
