.featured-image {
  position: relative;

  &:before {
    background-color: var(--color-bg-alt);
    content: '';
    display: block;
    position: absolute;
    bottom: 50%;
    left: 0;
    right: 0;
    top: 0;
  }

  img {
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    @include apply-utility('measure', 'xxl');
  }
}
