.featured-image {
  position: relative;

  &::before {
    background-color: var(--color-bg-alt);
    bottom: 50%;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }

  img {
    @include apply-utility('measure', 'xxl');
    border-radius: 0.25rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
  }
}
