.feed-entry {
  + .feed-entry {
    margin-top: 8rem;
  }
}

.feed-post__header {
  @include apply-utility('measure', 'long');
}

.feed-post__featured-image {
  @include media-query('md') {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);
    @include apply-utility('measure', 'xxl');
  }

  img {
    border-radius: 0.25rem;
  }
}

.feed-post__category {
  font-size: get-size('400');
  font-weight: bold;

  color: get-color('secondary');
  text-decoration: none;
  text-transform: uppercase;
}

.feed-post__title {
  font-size: get-size('800');

  a {
    color: get-color('dark-shade');
    text-decoration: none;
  }
}

.feed-post__subhead {
  color: get-color('dark-glare');
  font-size: get-size('600');
  font-weight: normal;
  line-height: 1.1;
}

.feed-post__meta {
  display: flex;
  align-items: center;
}

.feed-post__date {
  color: get-color('dark-glare');
  font-size: get-size('400');
}

.feed-post__reading-time {
  font-size: get-size('300');
  font-weight: bold;
  margin-inline-start: 0.5rem;
}
