.feed-entry {
  + .feed-entry {
    margin-top: 6rem;
  }
}

.feed-post__header {
  @include apply-utility('measure', 'long');
}

.feed-post__featured-image {
  @include media-query('md') {
    @include apply-utility('measure', 'xxl');
    margin-left: 50%;
    transform: translateX(-50%);
    width: 100vw;
  }

  img {
    border-radius: 0.25rem;
  }
}

.feed-post__category {
  color: var(--color-link);
  font-size: get-size('300');
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
}

.feed-post__title {
  font-size: get-size('800');

  a {
    color: var(--color-heading);
    text-decoration: none;
  }
}

.feed-post__subhead {
  color: var(--color-text);
  font-size: get-size('600');
  font-weight: normal;
  line-height: 1.1;
}

.feed-post__meta {
  align-items: center;
  display: flex;
}

.feed-post__date {
  color: var(--color-text-alt);
  font-size: get-size('400');
}

.feed-post__reading-time {
  color: var(--color-text-accent);
  font-size: get-size('300') !important;
  margin-left: get-size('400');
}

.feed__archive-link {
  color: var(--color-link);
  font-size: get-size('300');
  font-weight: bold;
  text-decoration: none;
}
