.films {
  padding: get-size('700');

  @include media-query('md') {
    padding: get-size('700');
  }

  &:after {
    background-color: get-color('primary');
    background-image: url("data:image/svg+xml,%3C%3Fxml version='1.0'%3F%3E%3Csvg xmlns='http://www.w3.org/2000/svg' enable-background='new 0 0 24 24' viewBox='0 0 24 24' fill='%23fff'%3E%3Cpath d='m22 0h-20c-1.104 0-2 .896-2 2v20c0 1.104.896 2 2 2h20c1.105 0 2-.896 2-2v-20c0-1.104-.895-2-2-2zm-18 21h-2v-2h2zm0-5h-2v-2h2zm0-6h-2v-2h2zm0-5h-2v-2h2zm14 15h-12v-7h12zm0-9h-12v-7h12zm4 10h-2v-2h2zm0-5h-2v-2h2zm0-6h-2v-2h2zm0-5h-2v-2h2z'%3E%3C/path%3E%3C/svg%3E");
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45%;
    border-radius: 100%;
    color: get-color('light');
    content: '';
    display: block;
    font-size: get-size('900');

    position: absolute;
    top: -1.5rem;
    left: 80%;

    width: 5rem;
    height: 5rem;

    @include media-query('md') {
      top: -3rem;
      left: -1.8rem;

      width: 5rem;
      height: 5rem;
    }

    z-index: 2;
  }
}

.film__items {
  margin-top: get-size('600');
}

.film__entry {
  a {
    display: grid;
    grid-template-columns: 5rem 1fr;
    grid-gap: get-size('500');
    transition: background-color 0.3s;

    &:focus,
    &:hover {
      background-color: rgba(get-color('light'), 0.5);
      border-radius: 0.25rem;
    }
  }

  + .film__entry {
    margin-top: get-size('500');
    padding-top: get-size('500');
    border-top: 1px solid get-color('light');
  }
}

.film__media {
  img {
    border: 1px solid get-color('dark');
    border-radius: 0.25rem;
  }
}

.film__url {
  text-decoration: none;
}

.film__info {
  display: flex;
  flex-direction: column;
  justify-content: center;

  span {
    line-height: 1.1;
  }
}

.film__title {
  color: get-color('dark');
  margin-bottom: 0.35rem;

  font-weight: bold;
  @include apply-utility('font', 'heading');
}

.film__watched-date {
  color: get-color('dark-glare');
  font-size: get-size('400');
}

.film__rating {
  color: get-color('primary');
  font-size: get-size('400');
  margin-left: 0.4rem;
  position: relative;
  top: -0.1em;
}
