.floating-header {
  background-color: var(--color-bg);
  left: 0;
  padding-bottom: get-size('600');
  padding-top: get-size('600');
  position: absolute;
  right: 0;
  top: 0;
  z-index: 120;

  .nav {
    margin: 0;
  }

  .nav__list {
    justify-content: flex-end;
  }
}
