.home-body__inner {
  display: grid;
  grid-gap: get-size('900');
  grid-template-areas:
    'body'
    'sidebar';

  @include media-query('md') {
    align-items: center;
    grid-gap: get-size('800');
    grid-template-areas: 'sidebar body';
    grid-template-columns: 1fr 1fr;
  }

  @include media-query('lg') {
    align-items: center;
    grid-gap: get-size('800');
    grid-template-areas: 'sidebar body';
    grid-template-columns: minmax(auto, 30rem) minmax(auto, 31rem);
  }
}

.home-body__sidebar {
  grid-area: sidebar;
}

.home-body__content {
  grid-area: body;
}
