.meta-box {
  background-color: var(--color-bg-alt);
  border-left: 3px solid var(--color-border);
  font-size: get-size('400');
  padding: get-size('600');

  @include media-query('md') {
    float: right;
    margin-left: get-size('600');
  }

  @include media-query('lg') {
    margin-right: -#{get-size('major')};
  }

  h4 {
    color: var(--color-heading);
    font-size: get-size('300');
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;
  }

  p {
    margin-bottom: get-size('400');
  }

  ul {
    padding-left: get-size('400');
    margin: 0;
  }

  p,
  li {
    font-size: get-size('400');
  }
}
