.nav {
  font-size: get-size('400');

  a {
    color: get-color('dark');
    line-height: 1;
    font-weight: bold;
    text-decoration: none;
    display: block;
    padding: 0.4rem;
    position: relative;
    transition: box-shadow 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:focus,
    &:hover {
      box-shadow: inset 0 -1rem 0 rgba(get-color('primary'), 0.6);
    }

    // Adds the fake border to active state items
    &[data-state='active'],
    &[aria-current='page'] {
      box-shadow: inset 0 -0.2rem 0 rgba(get-color('primary'), 0.8);
    }

    .site-header[data-variant='light'] & {
      color: get-color('light');
      &:focus,
      &:hover {
        box-shadow: inset 0 -1rem 0 rgba(get-color('light'), 0.2);
      }
      &[data-state='active'],
      &[aria-current='page'] {
        box-shadow: inset 0 -0.2rem 0 rgba(get-color('light'), 0.6);
      }
    }
  }
}

.nav__list {
  display: flex;

  > * {
    margin-inline-start: get-size('500');
  }
}
