.nav {
  font-size: get-size('400');
  margin-bottom: get-size('300');
  margin-top: get-size('600');

  @include media-query('md') {
    margin-bottom: 0;
    margin-top: 0;
  }

  a {
    color: var(--color-text);
    display: block;
    font-weight: bold;
    line-height: 1;
    padding: 0.3rem;
    position: relative;
    text-decoration: none;
    transition: box-shadow 300ms cubic-bezier(0.6, -0.28, 0.735, 0.045);

    &:focus,
    &:hover {
      box-shadow: inset 0 -1rem 0 rgba(get-color('primary'), 0.6);
    }

    // Adds the fake border to active state items
    &[data-state='active'],
    &[aria-current='page'] {
      box-shadow: inset 0 -0.2rem 0 rgba(get-color('primary'), 0.8);
      color: var(--color-text-alt);
    }

    .site-header[data-variant='light'] & {
      color: get-color('light');

      &:focus,
      &:hover {
        box-shadow: inset 0 -1rem 0 rgba(get-color('light'), 0.2);
      }

      &[data-state='active'],
      &[aria-current='page'] {
        box-shadow: inset 0 -0.2rem 0 rgba(get-color('light'), 0.6);
      }
    }
  }
}

.nav__list {
  display: flex;

  > * + * {
    margin-left: get-size('400');
  }

  li {
    align-items: center;
    display: flex;
  }
}
