.site-newsletter {
  background-color: var(--color-newsletter-bg);
  position: relative;
}

.newsletter-form {
  margin-top: get-size('700') !important;
}

.newsletter-form__inner {
  display: grid;
  grid-gap: get-size('700');

  justify-items: start;

  max-width: 45rem;

  @include media-query('md') {
    grid-template-columns: 1fr 1fr;
  }
}

.newsletter-form__section {
  width: 100%;

  label {
    color: var(--color-text-alt);
    display: block;
    font-size: get-size('400');
    font-weight: bold;
    margin-top: 0.4rem;
    transition: color 0.2s, transform 0.2s;
  }

  input {
    background-color: transparent;
    border: 0;
    border-bottom: 0.2rem solid var(--color-text-alt);
    color: var(--color-text);
    font-size: get-size('400');
    padding: 0.6rem 0;
    transition: background-color 0.2s, border-bottom 0.2s, transform 0.2s;
    width: 100%;

    &:focus {
      background-color: transparent;
      border-bottom: 0.2rem solid var(--color-accent);
      outline: none;

      + label {
        color: var(--color-accent);
        transform: translateY(-310%);
      }
    }
  }
}
