.page-content {
  h2 {
    margin-top: get-size('900');
  }

  h3 {
    margin-top: get-size('800');
  }

  mark {
    background-color: var(--color-code);
    color: var(--color-text);
  }

  blockquote:not([class]) {
    border-left: 0.3rem solid var(--color-border);
    color: var(--color-text-alt);
    padding-left: get-size('500');

    > ul,
    > ol {
      margin-left: -1rem;
    }

    /* stylelint-disable */
    p + p {
      margin-top: get-size('500');
    }
    /* stylelint-enable */
  }

  .footnotes {
    @include apply-utility('measure', 'medium');
    font-size: get-size('400');
  }

  .footnotes-list {
    @include apply-utility('measure', 'medium');
  }

  hr {
    @include apply-utility('measure', 'short');
    border: 0;
    border-bottom: 3px solid var(--color-border);
    margin: get-size('700') 0;
  }

  .footnote-ref {
    @include apply-utility('font', 'mono');
    font-size: 0.7em;
    font-weight: bold;

    a {
      color: var(--color-link);
    }
  }

  .footnote-backref {
    border-radius: 50%;
    color: var(--color-link);
    position: relative;
    text-decoration: none;
    top: 0.15em;
  }

  .case-study__body & {
    > p:first-of-type {
      @include apply-utility('font', 'heading');
      font-size: get-size('600');
      line-height: 1.3;
    }
  }

  table {
    border-collapse: collapse;
    font-size: get-size('400');
    margin: get-size('600') 0;
    width: 100%;

    @include media-query('lg') {
      @include apply-utility('measure', 'xl');
      margin-left: 50%;
      transform: translateX(-50%);
      width: 100vw;
    }

    /* stylelint-disable */
    tbody td {
      border-top: 1px solid var(--color-border);
    }
    /* stylelint-enable */
  }

  thead th {
    @include apply-utility('font', 'heading');
    color: var(--color-heading);
    font-weight: bold;
    text-align: left;
  }

  th,
  td {
    padding: 0.45rem 0 get-size('300');
  }
}
