.page-content {
  > :not([class*='-bleed']):not([class*='language-']) {
    @include apply-utility('measure', 'long');
  }

  h2 {
    margin-top: get-size('900');
  }

  h3 {
    margin-top: get-size('700');
  }

  blockquote:not([class]) {
    color: get-color('dark-glare');
    border-left: 0.4rem solid get-color('primary');
    padding-left: get-size('400');
  }

  pre[class*='language-'] {
    width: 100vw;
    margin-left: 50%;
    transform: translateX(-50%);

    @include media-query('lg') {
      width: 55rem;
      margin-left: 0;
      transform: none;
    }
  }

  .case-study__body & {
    > p:first-of-type {
      font-size: get-size('600');
      line-height: 1.5;
    }
  }
}
