.portfolio-hero {
  padding-top: get-size('700');
  overflow: hidden;

  @include media-query('md') {
    padding-top: get-size('900');
  }
}

.portfolio-hero__subhead {
  color: rgba(get-color('light'), 0.8);
}
