.portfolio-hero {
  overflow: hidden;
  padding-top: get-size('700');

  @include media-query('md') {
    padding-top: get-size('900');
  }
}

.portfolio-hero__headline {
  color: var(--seashell);
}

.portfolio-hero__subhead {
  color: rgba(get-color('light'), 0.8);
}
