.pullquote {
  background-color: get-color('light-glare');

  hyphens: auto;
  margin: get-size('800') 0;
  position: relative;
  padding: get-size('400') get-size('500');

  @include media-query('md') {
    float: right;
    margin: get-size('800') get-size('400');
    @include apply-utility('measure', 'short');
  }

  @include media-query('lg') {
    margin: get-size('800');
    padding: get-size('500') get-size('600');
    margin-right: -8rem;
  }

  &:before {
    background-color: get-color('primary');
    background-image: url('data:image/svg+xml,%3C%3Fxml version="1.0"%3F%3E%3Csvg xmlns="http://www.w3.org/2000/svg" enable-background="new 0 0 24 24" viewBox="0 0 24 24" fill="%23fff"%3E%3Cpath d="m20 9h-3c-.347 0-.679.058-1 .141v-.141c0-1.103.897-2 2-2v-3c-2.757 0-5 2.243-5 5v3.5h.05c-.02.166-.05.329-.05.5v3c0 2.209 1.791 4 4 4h3c2.209 0 4-1.791 4-4v-3c0-2.209-1.791-4-4-4zm-13 0h-3c-.347 0-.679.058-1 .141v-.141c0-1.103.897-2 2-2v-3c-2.757 0-5 2.243-5 5v3.5h.05c-.02.166-.05.329-.05.5v3c0 2.209 1.791 4 4 4h3c2.209 0 4-1.791 4-4v-3c0-2.209-1.791-4-4-4z"%3E%3C/path%3E%3C/svg%3E');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: 45%;
    border-radius: 100%;
    color: get-color('light');
    content: '';
    display: block;
    font-size: get-size('900');

    position: absolute;
    top: -2.6rem;
    left: -1.4rem;

    width: 4rem;
    height: 4rem;

    z-index: 2;
  }

  &::after {
    content: '';
    pointer-events: none;
    width: 100%;
    height: 100%;
    position: absolute;
    top: -0.3rem;
    left: 0.3rem;
    border: 0.1rem solid get-color('dark');
    z-index: 1;

    @include media-query('md') {
      top: -0.5rem;
      left: 0.5rem;
      border-width: 0.1rem;
    }
  }

  small {
    display: block;
    margin-top: get-size('600');
    font-size: get-size('400');
    strong {
      display: block;
    }
  }
}
