.site-footer {
  background-color: var(--color-footer-bg);
  color: var(--color-footer-text);
  padding: get-size('900') 0;
}

.site-footer__inner {
  display: grid;
  grid-gap: get-size('700');

  @include media-query('md') {
    grid-gap: get-size('800');
    grid-template-columns: 1fr 1fr;
  }
}

.site-footer__link {
  color: var(--color-footer-link);
}

.footer__heading {
  color: var(--color-footer-heading);
  font-size: get-size('600');
  margin-bottom: get-size('400');
}
