.site-name__wrapper {
  align-items: center;
  display: flex;
}

.site-name {
  display: inline-grid;
  margin-right: get-size('500');

  .site-header[data-variant='light'] & {
    svg {
      fill: get-color('light-glare');
    }
  }

  svg {
    fill: var(--color-accent);
    width: 5rem;
  }
}

.site-pronouns {
  color: var(--color);
  display: flex;
  font-size: get-size('400');
  font-weight: bold;

  @include media-query('xl') {
    font-size: get-size('300');
  }

  .site-header[data-variant='light'] & {
    color: get-color('light-glare');
  }

  li + li {
    &::before {
      color: var(--color-border);
      content: '//';
      letter-spacing: -1.5px;
      margin: 0 0.3rem;

      .site-header[data-variant='light'] & {
        color: rgba(get-color('light-glare'), 0.5);
      }
    }
  }
}
