.site-header {
  border-bottom: 1px solid var(--color-bg-alt);
  padding: get-size('500') 0;

  @include media-query('md') {
    padding: 0.5rem 0;
  }

  &[data-variant='light'] {
    border-bottom: 1px solid rgba(get-color('light'), 0.4);
  }
}

.site-header__inner {
  align-items: center;
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;


  @include media-query('md') {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}
