.site-header {
  padding: get-size('500') 0;

  @include media-query('md') {
    padding: get-size('300') 0;
  }

  &[data-variant='light'] {
    border-bottom: 1px solid rgba(get-color('light'), 0.4);
  }
}

.site-header__inner {
  @include media-query('md') {
    align-items: center;
    display: flex;
    justify-content: space-between;
  }
}
