.social-links {
  display: flex;
  margin-top: get-size('600') !important;
  margin-left: -#{get-size('300')} !important;

  li {
    display: inline-grid;
  }

  a {
    display: inline-grid;
    padding: 0 get-size('300');
    position: relative;
    text-decoration: none;

    &:before {
      color: get-color('dark');
      content: attr(title);
      border-radius: 0.25rem;
      background-color: get-color('light');
      font-size: get-size('300');
      font-weight: bold;
      padding: 0.2rem 0.4rem;
      position: absolute;
      left: 50%;
      bottom: 170%;
      transform: translateX(-50%);
      white-space: nowrap;
      pointer-events: none;
      opacity: 0;
      transition: opacity 0.2s;
    }

    &:after {
      background-color: get-color('light-glare');
      border-radius: 100%;
      content: '';
      position: absolute;
      top: 50%;
      bottom: 0;
      left: 50%;
      right: 0;
      width: 100%;
      padding-bottom: 100%;
      height: 0;
      z-index: 1;
      transform: translate3d(-50%, -50%, 0) scale(0);
      transition: transform 0.2s;
    }

    &:hover {
      &:before {
        opacity: 1;
      }
      &:after {
        transform: translate3d(-50%, -50%, 0) scale(0.9);
      }
      svg {
        fill: get-color('primary');
      }
    }
  }

  svg {
    fill: get-color('light-shade');
    width: get-size('600');
    height: get-size('600');
    position: relative;
    z-index: 2;
  }
}
