.social-links {
  display: flex;
  margin-left: -#{get-size('300')} !important;
  margin-top: get-size('600') !important;

  li {
    display: inline-grid;
  }

  a {
    display: inline-grid;
    padding: 0 get-size('300');
    position: relative;
    text-decoration: none;

    &::before {
      background-color: var(--color-social-icon-bg);
      border-radius: 0.25rem;
      bottom: 170%;
      color: var(--color-social-icon-label);
      content: attr(title);
      font-size: get-size('300');
      font-weight: bold;
      left: 50%;
      opacity: 0;
      padding: 0.2rem 0.4rem;
      pointer-events: none;
      position: absolute;
      transform: translateX(-50%);
      transition: opacity 0.2s;
      white-space: nowrap;
    }

    &::after {
      background-color: var(--color-social-icon-bg);
      border-radius: 100%;
      bottom: 0;
      content: '';
      height: 0;
      left: 50%;
      padding-bottom: 100%;
      position: absolute;
      right: 0;
      top: 50%;
      transform: translate3d(-50%, -50%, 0) scale(0);
      transition: transform 0.2s;
      width: 100%;
      z-index: 1;
    }

    &:hover {
      &::before {
        opacity: 1;
      }

      &::after {
        transform: translate3d(-50%, -50%, 0) scale(0.9);
      }

      svg {
        fill: var(--color-accent);
      }
    }
  }

  svg {
    fill: var(--color-social-icon);
    height: get-size('600');
    position: relative;
    width: get-size('600');
    z-index: 2;
  }
}
