.taxonomy__title {
  border-bottom: 0.2rem solid var(--color-text-alt);
  padding-bottom: 0.4rem;
}

.taxonomy-list__item {
  font-size: get-size('400');
  padding: 0.4rem 0;

  + .taxonomy-list__item {
    border-top: 0.2rem solid var(--color-bg-shade);
  }

  .taxonomy-list__url {
    align-items: center;
    color: var(--color-link);
    display: flex;
    justify-content: space-between;
    text-decoration: none;
  }

  .taxonomy__count {
    @include apply-utility('font', 'mono');
    font-size: 0.9em;
  }
}
