.taxonomy__title {
  border-bottom: 0.2rem solid get-color('dark-glare');
  padding-bottom: 0.4rem;
}

.taxonomy-list__item {
  padding: 0.4rem 0;
  font-size: get-size('400');

  + .taxonomy-list__item {
    border-top: 0.2rem solid get-color('light-shade');
  }

  .taxonomy-list__url {
    color: get-color('secondary');
    display: flex;
    align-items: center;
    text-decoration: none;
    justify-content: space-between;
  }

  .taxonomy__count {
    font-size: 0.9em;
    @include apply-utility('font', 'mono');
  }
}
