.table-of-contents {
  background-color: get-color('light-glare');
  border-left: 3px solid get-color('light-shade');
  padding: get-size('600');
  font-size: get-size('400');

  @include media-query('md') {
    float: right;
    margin-inline-start: get-size('500');
  }

  &:before {
    content: 'Table of Contents';
    display: block;
    font-size: get-size('300');
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    @include apply-utility('font', 'heading');
  }

  ol {
    padding-left: get-size('600') !important;
    margin-bottom: 0;
  }

  a,
  a:visited {
    color: get-color('secondary');
    text-decoration: none;
  }
}
