.table-of-contents {
  background-color: var(--color-bg-alt);
  border-left: 3px solid var(--color-border);
  margin-bottom: get-size('600');
  padding: get-size('600');
  position: relative;
  z-index: 2;

  @include media-query('md') {
    @include apply-utility('measure', 'micro');
    float: right;
    margin-left: get-size('600');
  }

  @include media-query('lg') {
    margin-right: -#{get-size('major')};
  }

  &::before {
    @include apply-utility('font', 'display');
    content: 'Table of Contents';
    display: block;
    font-size: get-size('400');
    font-weight: bold;
    letter-spacing: 1.2px;
    text-transform: uppercase;

    @include media-query('md') {
      font-size: get-size('300');
    }
  }

  ol {
    margin-bottom: 0;
    padding-left: get-size('400') !important;
  }

  li {
    font-size: get-size('400');
    
    @include media-query('md') {
      font-size: 0.9rem;
    }
  }

  a,
  a:visited {
    color: var(--color-link);
    text-decoration: none;
  }
}
