.table-of-contents {
  background-color: get-color('light-glare');
  border-left: 3px solid get-color('light-shade');
  margin-bottom: get-size('600');
  padding: get-size('600');
  position: relative;
  z-index: 2;

  @include media-query('md') {
    float: right;
    margin-left: get-size('600');
    @include apply-utility('measure', 'micro');
  }

  @include media-query('lg') {
    margin-right: -#{get-size('major')};
  }

  &:before {
    content: 'Table of Contents';
    display: block;
    font-size: get-size('300');
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1.2px;

    @include apply-utility('font', 'heading');
  }

  ol {
    padding-left: get-size('400') !important;
    margin-bottom: 0;
  }

  li {
    font-size: 0.9rem;
  }

  a,
  a:visited {
    color: get-color('secondary');
    text-decoration: none;
  }
}
