.up-next {
  h2 {
    color: var(--color-text-alt);
  }

  .next-list__url {
    color: var(--color-link);
    text-decoration-color: var(--color-link-alt);
  }
}

.next-list__item {
  font-size: get-size('400');

  time {
    color: var(--color-text-alt);
    display: block;

    @include media-query('md') {
      display: inline-block;
      margin-left: get-size('300');
    }
  }

  + .next-list__item {
    margin-top: 1rem;
    @include media-query('md') {
      margin-top: 0.25rem;
    }
  }
}
