.webmentions {
  background-color: var(--color-bg-alt);
}

.webmentions__inner {
  @include apply-utility('measure', 'medium');
}

.webmentions__headline {
  font-size: get-size('700');
  @include apply-utility('font', 'display');

  @include media-query('lg') {
    font-size: get-size('800');
  }
}

.webmentions__stat {
  display: inline-flex;
  margin-left: get-size('300');
  font-size: get-size('400');
  position: relative;
  top: -0.1em;

  svg {
    fill: var(--color-border);
    height: 1em;
    width: 1em;
    margin: 0 0.05em 0 0.1em;
  }

  .webmentions-stat__number {
    color: var(--color-text-alt);
    font-size: get-size('400');
    margin-left: 0.5rem;

    @include apply-utility('font', 'base');
  }
}

.webmentions__list {
  margin-top: get-size('700') !important;
}

.webmentions__item {
  + .webmentions__item {
    margin-top: get-size('600');
    padding-top: get-size('600');
    border-top: 1px solid var(--color-bg);
  }
}

.webmention {
  padding-left: 4.8rem;
  position: relative;
}

.webmention__author {
  color: var(--color-heading);
  text-decoration-color: get-color('secondary-glare');
}

.webmention__pubdate {
  color: var(--color-text-alt);
  font-size: get-size('400');
  display: block;

  @include media-query('md') {
    display: inline;
    margin-left: get-size('300');
  }
}

.webmention__author__photo {
  border-radius: 0.25rem;
  width: get-size('800');
  height: get-size('800');
  position: absolute;
  left: 0;
}

.webmention__content {
  margin-top: get-size('300');
  font-size: get-size('400');
}
