.webmentions__inner {
  @include apply-utility('measure', 'long');
}

.webmentions__headline {
  font-size: get-size('800');
  @include apply-utility('font', 'display');
}

.webmention__likes {
  display: inline-flex;
  margin-left: get-size('300');
  svg {
    fill: get-color('light-shade');
    width: get-size('500');
  }

  .likes__count {
    font-size: get-size('400');
    font-weight: bold;
    margin-left: 0.5rem;
  }
}

.webmentions__list {
  margin-top: get-size('700') !important;
}

.webmentions__item {
  + .webmentions__item {
    margin-top: get-size('600');
    padding-top: get-size('600');
    border-top: 1px solid get-color('light-shade');
  }
}

.webmention {
  padding-left: 4.8rem;
  position: relative;
}

.webmention__author {
  color: get-color('dark-glare');
  text-decoration-color: get-color('secondary-glare');
}

.webmention__pubdate {
  color: get-color('dark-glare');
  font-size: get-size('400');
  display: block;

  @include media-query('md') {
    display: inline;
    margin-left: get-size('300');
  }
}

.webmention__author__photo {
  border-radius: 0.25rem;
  width: get-size('800');
  height: get-size('800');
  position: absolute;
  left: 0;
}

.webmention__content {
  margin-top: get-size('300');
}
