<article class="feed-post feed-entry h-entry">
  <header class="feed-post__header flow flow-space-300">
    {% if item.data.topics %}
      {% set postTopic = collections.topics | getTaxonomy(item.data.topics) | first %}
      <a href="/tag/{{ item.data.topics }}" class="feed-post__category"><span class="visually-hidden">Post filed under:</span>{{ postTopic.data.title }}</a>
    {% endif %}
    <div class="[ feed-post__hgroup ] [ flow ]">
      <h1 class="[ feed-post__title ] [ p-name ]"><a class="feed-post__url" href="{{ item.url }}">{{ item.data.title | widont }}</a></h1>
      {% if item.data.subhead %}
        <h2 class="feed-post__subhead">{{ item.data.subhead | widont }}</h2>
      {% endif %}
    </div>

    <div class="feed-post__meta">
      <a href="{{ item.url }}" class="[ feed-post__date ] [ u-url ]">
        <time datetime="{{ item.date | dateIso }}" class="dt-published">{{ item.date | dateReadable }}</time>
      </a>
      <span class="[ feed-post__reading-time ] [ mini-headline ]">{{ item | readingTime }}</span>
    </div>
  </header>

  {% if item.data.featuredImage %}
    <figure class="feed-post__featured-image gap-top-700">
      {% if build.env == 'production' %}
        <img 
          src="https://res.cloudinary.com/smithtimmytim/image/fetch/w_400,f_auto,q_auto/{{ site.url }}{{ item.data.featuredImage }}"
          alt="Image of Timothy Smith"
          srcset="https://res.cloudinary.com/smithtimmytim/image/fetch/w_480,f_auto,q_auto/{{ site.url }}{{ item.data.featuredImage }} 480w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_1000,f_auto,q_auto/{{ site.url }}{{ item.data.featuredImage }} 1000w, https://res.cloudinary.com/smithtimmytim/image/fetch/w_2400,f_auto,q_auto/{{ site.url }}{{ item.data.featuredImage }} 2400w"
          loading="lazy" />
        {% else %}
          <img 
            src="{{ item.data.featuredImage }}"
            alt="Featured Image for {{ item.data.title }}"
            loading="lazy" />
        {% endif %}
    </figure>
  {% endif %}

  <div class="[ page-content ] [ flow flow-space-500 gap-top-700 hyphens ] [ e-content ]">
    {{ item.templateContent | safe }}
  </div>
</article>
