---
title: 'Timothy B. Smith’s Blog'
summary: 'A feed of the latest posts from my blog.'
permalink: '/blog/feed.xml'
---
<?xml version="1.0" encoding="utf-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
  <title>{{ title }}</title>
  <subtitle>{{ summary }}</subtitle>
  <link href="{{ site.url }}{{ permalink }}" rel="self"/>
  <link href="{{ site.url }}/"/>
  <updated>{{ collections.posts | rssLastUpdatedDate }}</updated>
  <id>{{ site.url }}</id>
  <author>
    <name>{{ site.name }}</name>
    <email>{{ site.email }}</email>
  </author>

  {% set blogItems = collections.posts %}
  {% for post in blogItems.slice(0,20) %}
    {% set absolutePostUrl %}{{ site.url }}{{ post.url | url }}{% endset %}
    <entry>
      {% if post.data.type == 'article' %}
      <title>{{ post.data.title }}</title>
      {% endif %}
      <link href="{{ absolutePostUrl }}"/>
      <updated>{{ post.date | rssDate }}</updated>
      <id>{{ absolutePostUrl }}</id>
      <content type="html"><![CDATA[
        {{ post.templateContent | htmlToAbsoluteUrls(absolutePostUrl) | safe }}]]></content>
    </entry>
  {% endfor %}
</feed>
