// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko';

@import 'reset';

// Global stuff

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

html {
  font-size: clamp(13.5px, 1.3vw, 18.5px);
}

body {
  @include apply-utility('font', 'base');
  align-items: center;
  background-color: get-color('dark-shade');
  display: flex;
  font-size: get-size('500');
  justify-content: center;
  line-height: 1.6;
}

main {
  max-width: 72.5rem;
  padding: 0 get-size('600');
  position: relative;

  &:focus {
    outline: none;
  }
}

svg {
  fill: get-color('light-shade');
  margin-bottom: get-size('500');
  width: 8rem;

  @include media-query('md') {
    margin-bottom: 0;
    position: absolute;
    top: 1rem;
    width: 10rem;
  }
}

.text-content {
  @include media-query('md') {
    padding-left: 13rem;
  }
}

h1 {
  @include apply-utility('font', 'display');
  color: get-color('light-glare');
  font-size: get-size('800');
  line-height: 1.2;

  @include media-query('md') {
    font-size: get-size('major');
  }
}

p {
  @include apply-utility('measure', 'long');
  color: get-color('light');

  + p {
    margin-top: get-size('700');
  }
}

a {
  color: get-color('secondary-glare');
  hyphens: none;
}

.home-link {
  font-weight: bold;
  text-decoration: none;
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  background: rgba(get-color('dark'), 0.99);
  color: get-color('light');
}

// Import utilities
@import 'utilities/mini-headline';
