/**
 * BASE SIZE
 * All calculations are based on this. It’s recommended that
 * you keep it at 1rem because that is the root font size. You
 * can set it to whatever you like and whatever unit you like.
 */
$gorko-base-size: 1rem;

/**
 * SIZE SCALE
 * This is a Perfect Fourth scale that powers all the utilities that
 * it is relevant for (font-size, margin, padding). All items are
 * calcuated off the base size, so change that and cascade across
 * your whole project.
 */
$gorko-size-scale: (
  '300': $gorko-base-size * 0.75,
  '400': $gorko-base-size,
  '500': $gorko-base-size * 1.33,
  '600': $gorko-base-size * 1.77,
  '700': $gorko-base-size * 2.36,
  '800': $gorko-base-size * 3.15,
  '900': $gorko-base-size * 4.2,
  'major': $gorko-base-size * 5.6,
);

/**
 * COLORS
 * Colors are shared between backgrounds and text by default. 
 * You can also use them to power borders, fills or shadows, for example.
 */
$gorko-colors: (
  'dark': #583a69,
  'dark-shade': #42364a,
  'dark-glare': #685375,
  'light': #feeadc,
  'light-shade': #f9b98b,
  'light-shade-text': #ce5c0c,
  'light-glare': #fff9f5,
  'primary': #ea4a87,
  'primary-shade': #da256a,
  'primary-glare': #ffa3c6,
  'secondary': #03749a,
  'secondary-glare': #86c9de,
  'tertiary': #e24e63,
  'tertiary-shade': #bd3649,
  'highlight': #ffd597,
);

/**
 * CORE CONFIG
 * This powers everything from utility class generation to breakpoints
 * to enabling/disabling pre-built components/utilities.
 */
$gorko-config: (
  'bg': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'background',
  ),
  'color': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'color',
  ),
  'fill': (
    'items': $gorko-colors,
    'output': 'standard',
    'property': 'fill',
  ),
  'flow-space': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': '--flow-space',
  ),
  'font': (
    'items': (
      'base':
        '"Whitney SSm A", "Whitney SSm B",system,-apple-system,BlinkMacSystemFont,Avenir,sans-serif',
      'heading':
        '"Whitney A", "Whitney B",system,-apple-system,BlinkMacSystemFont,Avenir,sans-serif',
      'display':
        '"Whitney Narrow A", "Whitney Narrow B",system,-apple-system,BlinkMacSystemFont,Avenir,sans-serif',
      'mono': '"JetBrains Mono", monospace',
    ),
    'output': 'standard',
    'property': 'font-family',
  ),
  'gap-top': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-top',
  ),
  'gap-bottom': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'margin-bottom',
  ),
  'leading': (
    'items': (
      'loose': 1.7,
      'tight': 1.3,
      'flat': '1',
    ),
    'output': 'standard',
    'property': 'line-height',
  ),
  'measure': (
    'items': (
      'micro': '18rem',
      'short': '24rem',
      'medium': '38rem',
      'long': '43.6rem',
      'xl': '50rem',
      'xxl': '58rem',
    ),
    'output': 'responsive',
    'property': 'max-width',
  ),
  'text': (
    'items': $gorko-size-scale,
    'output': 'responsive',
    'property': 'font-size',
  ),
  'weight': (
    'items': (
      'normal': 400,
      'bold': 900,
    ),
    'output': 'standard',
    'property': 'font-weight',
  ),
  'breakpoints': (
    'sm': '(min-width: 36em)',
    'md': '(min-width: 40em)',
    'lg': '(min-width: 64em)',
    'xl': '(min-width: 90em)',
  ),
);
