/**
 * Theme Colors
 * - color names from https://www.htmlcsscolor.com/
 */

:root {
  --chardon: #feeadc;
  --seashell: #fff9f5;
  --mandys-pink: #f9b98b;
  --blackcurrant: #312838;
  --jagger: #42364a;
  --honey-flower: #54455f;
  --prelude: #c5b9ce;
  --spray: #86c9de;
  --cotton-candy: #ffbed7;
  --persian-pink: #ff8ab7;
  --tea-green: #caffb1;
}

[data-theme='default'] {
  --color-bg: var(--jagger);
  --color-bg-alt: var(--honey-flower);
  --color-nav-hover-bg: rgba(255, 138, 183, 0.8);
  --color-heading: var(--seashell);
  --color-text: var(--chardon);
  --color-text-alt: var(--prelude);
  --color-accent: var(--persian-pink);
  --color-accent-alt: var(--cotton-candy);
  --color-border: var(--mandys-pink);
  --color-link: var(--spray);
  --color-media-border: var(--chardon);
  --color-newsletter-bg: var(--blackcurrant);
  --color-footer-bg: var(--jagger);
  --color-footer-heading: var(--seashell);
  --color-footer-text: var(--chardon);
  --color-footer-link: var(--spray);
  --color-code: var(--honey-flower);
  --color-code-block-bg: var(--blackcurrant);
  --color-social-icon: var(--mandys-pink);
  --color-social-icon-bg: var(--blackcurrant);
  --color-social-icon-label: var(--seashell);
  --color-text-accent: var(--tea-green);
  --color-dark-button: var(--honey-flower);
  --color-dark-button-hover: var(--jagger);
  --color-button-text: var(--chardon);
}
