/**
 * Theme Colors
 * - color names from https://www.htmlcsscolor.com/
 */

:root {
  --chardon: #feeadc;
  --seashell: #fff9f5;
  --mandys-pink: #f9b98b;
  --blackcurrant: #312838;
  --jagger: #42364a;
  --honey-flower: #54455f;
  --prelude: #c5b9ce;
  --spray: #86c9de;
  --cotton-candy: #ffbed7;
  --persian-pink: #ff8ab7;
  --tea-green: #caffb1;
}

[data-theme='default'] {
  --color-bg: var(--jagger);
  --color-bg-alt: var(--honey-flower);
  --color-nav-hover-bg: rgba(255, 138, 183, 0.8);
  --color-heading: var(--seashell);
  --color-text: var(--chardon);
  --color-text-alt: var(--prelude);
  --color-accent: var(--persian-pink);
  --color-accent-alt: var(--cotton-candy);
  --color-border: var(--mandys-pink);
  --color-link: var(--spray);
  --color-media-border: var(--chardon);
  --color-newsletter-bg: var(--blackcurrant);
  --color-footer-bg: var(--jagger);
  --color-footer-heading: var(--seashell);
  --color-footer-text: var(--chardon);
  --color-footer-link: var(--spray);
  --color-code: var(--honey-flower);
  --color-code-block-bg: var(--blackcurrant);
  --color-coding-cursor: var(--tea-green);
  --color-social-icon: var(--mandys-pink);
  --color-social-icon-bg: var(--blackcurrant);
  --color-social-icon-label: var(--seashell);
  --color-text-accent: var(--tea-green);
  --color-dark-button: var(--honey-flower);
  --color-dark-button-hover: var(--jagger);
  --color-button-text: var(--chardon);
}

[data-theme='bright-pixels'] {
  --vulcan: #2e3237;
  --very-light-grey: #ccc;
  --black-russian: #23252a;
  --glacier: #7bb2bf;
  --ship-cove: #818fae;
  --heather: #afb6bd;
  --charcoal-blue: #1c1d21;
  --chenin: #dbbb76;

  --color-bg: var(--black-russian);
  --color-bg-alt: var(--vulcan);
  --color-nav-hover-bg: var(--vulcan);
  --color-heading: var(--very-light-grey);
  --color-text: var(--heather);
  --color-text-alt: var(--ship-cove);
  --color-accent: var(--persian-pink);
  --color-accent-alt: var(--cotton-candy);
  --color-border: var(--persian-pink);
  --color-link: var(--glacier);
  --color-media-border: var(--heather);
  --color-newsletter-bg: var(--charcoal-blue);
  --color-footer-bg: var(--black-russian);
  --color-footer-heading: var(--very-light-grey);
  --color-footer-text: var(--heather);
  --color-footer-link: var(--glacier);
  --color-code: var(--vulcan);
  --color-code-block-bg: var(--charcoal-blue);
  --color-coding-cursor: var(--chenin);
  --color-social-icon: var(--heather);
  --color-social-icon-bg: var(--charcoal-blue);
  --color-social-icon-label: var(--glacier);
  --color-text-accent: var(--chenin);
  --color-dark-button: var(--vulcan);
  --color-dark-button-hover: var(--black-russian);
  --color-button-text: var(--heather);
}
