/**
 * Theme Colors
 * - color names from https://www.htmlcsscolor.com/
 */

:root {
  --chardon: #feeadc;
  --seashell: #fff9f5;
  --mandys-pink: #f9b98b;
  --blackcurrant: #312838;
  --jagger: #42364a;
  --honey-flower: #54455f;
  --prelude: #c5b9ce;
  --spray: #86c9de;
  --cotton-candy: #ffbed7;
  --persian-pink: #ff8ab7;
  --tea-green: #caffb1;
}

[data-theme='default'] {
  --color-bg: var(--jagger);
  --color-bg-alt: var(--honey-flower);
  --color-nav-hover-bg: rgba(255, 138, 183, 0.8);
  --color-heading: var(--seashell);
  --color-text: var(--chardon);
  --color-text-alt: var(--prelude);
  --color-accent: var(--persian-pink);
  --color-accent-alt: var(--cotton-candy);
  --color-border: var(--mandys-pink);
  --color-link: var(--spray);
  --color-media-border: var(--chardon);
  --color-newsletter-bg: var(--blackcurrant);
  --color-footer-bg: var(--jagger);
  --color-footer-heading: var(--seashell);
  --color-footer-text: var(--chardon);
  --color-footer-link: var(--spray);
  --color-code: var(--honey-flower);
  --color-code-block-bg: var(--blackcurrant);
  --color-social-icon: var(--mandys-pink);
  --color-social-icon-bg: var(--blackcurrant);
  --color-social-icon-label: var(--seashell);
  --color-text-accent: var(--tea-green);
  --color-dark-button: var(--honey-flower);
  --color-dark-button-hover: var(--jagger);
  --color-button-text: var(--chardon);
}

[data-theme='halloween'] {
  --nero: #252424;
  --night-rider: #2e2d2d;
  --matterhorn: #4b4b4b;
  --silver: #bdbdbd;
  --sunshade: #ff914d;
  --fog: #d9c2fa;
  --light-green: #86e190;

  --color-bg: var(--night-rider);
  --color-bg-alt: var(--matterhorn);
  --color-nav-hover-bg: rgba(255, 145, 77, 0.8);
  --color-heading: var(--seashell);
  --color-text: var(--chardon);
  --color-text-alt: var(--silver);
  --color-text-accent: var(--light-green);
  --color-accent: var(--sunshade);
  --color-accent-alt: var(--mandys-pink);
  --color-border: var(--silver);
  --color-link: var(--fog);
  --color-media-border: var(--silver);
  --color-newsletter-bg: var(--nero);
  --color-footer-bg: var(--night-rider);
  --color-footer-heading: var(--seashell);
  --color-footer-text: var(--chardon);
  --color-footer-link: var(--fog);
  --color-code: var(--matterhorn);
  --color-code-block-bg: var(--nero);
  --color-social-icon: var(--silver);
  --color-social-icon-bg: var(--nero);
  --color-social-icon-label: var(--seashell);
  --color-dark-button: var(--matterhorn);
  --color-dark-button-hover: var(--sunshade);
  --color-button-text: var(--chardon);
  --color-coding-cursor: var(--fog);

  body::before {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 150.67 154.64'%3E%3Cdefs%3E%3Cstyle%3E.cls-1%7Bfill:%233a3a3a;%7D%3C/style%3E%3C/defs%3E%3Cg id='Layer_125' data-name='Layer 125'%3E%3Cpolygon class='cls-1' points='69.79 13.49 79.88 143.23 79.29 143.22 69.21 13.48 69.79 13.49 69.79 13.49'/%3E%3Cpolygon class='cls-1' points='112.34 28.41 41.18 127.11 40.69 126.74 111.86 28.04 112.34 28.41 112.34 28.41'/%3E%3Cpolygon class='cls-1' points='6.3 96.69 132.53 64.57 132.72 65.13 6.5 97.26 6.3 96.69 6.3 96.69'/%3E%3Cpath class='cls-1' d='M21.26,51.43c13,6.36,52.5,27.92,52.83,28.1h0l49.2,25.53-.23.5L73.85,80h0L21.28,51.51c-.2-.11.17,0,0-.08Z'/%3E%3Cpath class='cls-1' d='M46.65,27.19c12,23.05,51.72,95.23,51.86,95.48l-.51.24c-.13-.25-38.52-69.75-51.3-95.22-.35-.69.26.12-.05-.5Z'/%3E%3Cpath class='cls-1' d='M72.6,49.92s3.71,7.19,7.71,9.32a11.62,11.62,0,0,0,7.37,1.37l.41-.08,0,.41s-.42,6.22,1.5,8.6,6.85,4.27,6.86,4.28L97,74l-.43.31s-3.23,2.23-2.28,7.91A24,24,0,0,0,98.8,92.38l.45.56-.7-.11s-8-1.26-10,1.66-3.07,4.57-3.07,4.57l-.24.43L84.92,99s-2.24-3.86-5-3.7a4,4,0,0,0-3.62,2L76,98l-.26-.69s-1.27-3.66-6-3.49c-5,.18-5.78-.2-5.79-.2l-.25-.11.07-.25s1.54-5.35-1.53-7C58.94,84.48,58,84.08,58,84.08l-.36-.15.21-.29s3.12-4.28,2.09-6.85a45,45,0,0,0-3.23-6.11l-.23-.38.42,0s6.74-.7,6.62-3.14a17.35,17.35,0,0,1,1-5.79l.06-.16h.19a5.71,5.71,0,0,0,4.8-3.62A34,34,0,0,0,72.05,50l.15-.8.4.77Zm7.47,9.82c-3.39-1.8-6.53-7-7.6-8.88a34.58,34.58,0,0,1-2.35,7A6.33,6.33,0,0,1,65,61.72a16,16,0,0,0-.93,5.42c.12,2.51-5.14,3.42-6.68,3.64a44,44,0,0,1,3.06,5.84c1,2.44-1.26,6.06-2,7.1.52.24,1.69.82,3.94,2,3.06,1.64,2.22,6.19,1.93,7.4a31,31,0,0,0,5.25.08A6.54,6.54,0,0,1,76,96.61a4.83,4.83,0,0,1,3.78-1.85c2.56-.16,4.63,2.53,5.34,3.59.4-.63,1.31-2,2.86-4.22,1.88-2.65,7.92-2.19,9.93-2a24.57,24.57,0,0,1-4.27-9.89c-.8-4.79,1.24-7.29,2.11-8.12-1.31-.55-5-2.22-6.66-4.29s-1.72-7.19-1.66-8.63a12.55,12.55,0,0,1-7.39-1.5Z'/%3E%3Cpath class='cls-1' d='M71.75,39.76s6.06,6,12,9.11a16,16,0,0,0,11.77,1l.39-.13,0,.42s.43,10.22,3.37,14.62,9,6,9,6l.44.11-.25.35s-6.67,9.17-5.45,14.23a96.56,96.56,0,0,0,3.63,11.08l.14.33-.34,0s-11.29,1.49-13.73,4.69a11.65,11.65,0,0,0-2.57,6l0,.44-.4-.23s-7.89-4.54-9.55-3.81-3.43,1.73-3.43,1.73l-.14.08-.16-.09s-5.68-3.43-9.78-5.62-6.79-.68-6.8-.67l-.49.24.05-.56s.48-4.76-2-7.48-8.58-5.25-8.6-5.25l-.3-.13.13-.28s3.77-8.13,2.74-11.77-2.69-7.86-2.7-7.87L48.63,66H49s4.9-.18,7.7-4a25.31,25.31,0,0,0,3.85-8l0-.12.1,0s3.42-1.7,6.67-6.84,3.91-7.14,3.91-7.14l.14-.41.33.33ZM83.5,49.37C78.29,46.64,73,41.74,71.68,40.46a49.68,49.68,0,0,1-3.81,6.86,20.13,20.13,0,0,1-6.76,7,25.55,25.55,0,0,1-3.91,8.11,11.29,11.29,0,0,1-7.74,4.14c.41,1.08,1.69,4.47,2.58,7.59,1,3.43-2,10.41-2.64,11.88,1.27.54,6.26,2.79,8.53,5.29s2.23,6.11,2.18,7.45a8.72,8.72,0,0,1,6.87.88c3.69,2,8.71,5,9.65,5.54.44-.25,1.82-1,3.33-1.67,1.69-.74,8.08,2.72,9.71,3.63a13,13,0,0,1,2.63-5.88c2.31-3,11.83-4.57,13.74-4.85a95,95,0,0,1-3.53-10.84c-1.14-4.73,4.11-12.64,5.3-14.35-1.48-.47-6.41-2.27-9-6.13-2.69-4-3.34-12.57-3.46-14.53A16.68,16.68,0,0,1,83.5,49.37Z'/%3E%3Cpath class='cls-1' d='M71,31s9.23,6.7,15.28,10,13.82,2.59,13.84,2.59l.31,0,0,.3s1.58,12.76,3.82,17.21,10.35,8.1,10.38,8.11l.32.15-.17.28s-5.73,9.22-4.39,16.33,2.48,13.87,2.48,13.89l0,.31h-.31s-11.24.1-14.9,4.57a25.42,25.42,0,0,0-4.73,8.18l-.07.26-.27-.08s-7.6-2.3-10.69-2.26a6.29,6.29,0,0,0-4.59,1.9l-.22.25-.23-.28s-5.4-6.49-10.55-7.94a21.55,21.55,0,0,0-10.38,0l-.36.1,0-.38s-.79-9-5.26-12.12a46.74,46.74,0,0,0-7.33-4.44l-.31-.14.15-.27S47.56,78.69,46,73.7,42.56,63,42.56,63l-.09-.26.26-.08s7.82-2.35,10.57-6.09a36.35,36.35,0,0,0,4.36-8l0-.07.07,0s6.79-4.79,9.26-8.69a31.76,31.76,0,0,0,3.57-8.62l.09-.39L71,31Zm15,10.53c-5.4-3-13.27-8.58-15-9.83a32,32,0,0,1-3.54,8.39c-2.38,3.77-8.64,8.29-9.33,8.78a37.84,37.84,0,0,1-4.4,8.08c-2.56,3.47-9.21,5.75-10.59,6.19.38,1.16,1.94,6,3.35,10.47C48,78.26,44.34,86,43.56,87.5a51,51,0,0,1,7.14,4.36c4.17,3,5.29,10.47,5.5,12.21a22.28,22.28,0,0,1,10.35.11c4.71,1.34,9.56,6.65,10.64,7.9A7.07,7.07,0,0,1,82,110.23c2.84,0,9.23,1.8,10.61,2.21a26.94,26.94,0,0,1,4.74-8.12c3.45-4.21,13.14-4.7,15-4.75-.23-1.38-1.23-7.27-2.42-13.57-1.25-6.6,3.34-14.85,4.28-16.45-1.54-.74-8.32-4.19-10.37-8.26S100.21,46.14,100,44.18c-1.52.1-8.44.33-13.89-2.68Z'/%3E%3Cpath class='cls-1' d='M70.23,20.58s11.33,8.13,18.45,11.35,17,4.19,17,4.19l.26,0,0,.26s1.36,14,5.28,20.21,11.41,10.54,11.43,10.55l.24.14-.1.24A62.28,62.28,0,0,0,119,86.42a96,96,0,0,0,.48,16.82l0,.23-.22.06s-12.15,3.09-16.67,6.78a19.63,19.63,0,0,0-6,9.13l-.07.24-.25-.05s-10.23-2.13-13.22-1.38a10.59,10.59,0,0,0-5,3.25l-.21.27-.24-.3s-5.7-7.09-12.78-9.78A42.4,42.4,0,0,0,53,108.76H52.8l-.08-.19s-3.17-7.93-7.84-12.14a80.47,80.47,0,0,0-8.6-6.85L36,89.4l.15-.24s4.1-6.24,2.59-13.49a132.42,132.42,0,0,1-2.09-15.92l0-.18.17-.07S46,55.66,49.6,51.08s3.54-10.91,3.54-10.93v-.23l.23,0s7-.69,9.72-4.55,6.69-14.62,6.7-14.65l.12-.33.32.22ZM88.48,32.45C82,29.52,72.1,22.59,70.22,21.26c-.68,1.84-4.11,10.87-6.64,14.44s-8.6,4.58-9.86,4.74c0,1.21-.35,6.83-3.65,11S38.55,59.41,37.28,60a133.56,133.56,0,0,0,2.06,15.65c1.39,6.64-1.78,12.44-2.51,13.66A87.07,87.07,0,0,1,45.26,96c4.35,3.94,7.41,11,7.93,12.2a44.46,44.46,0,0,1,11.86,3c6.4,2.44,11.67,8.35,12.82,9.7a10.91,10.91,0,0,1,5-3.16c2.83-.71,11.64,1,13.23,1.32a20.27,20.27,0,0,1,6.09-9.16c4.25-3.46,15-6.38,16.64-6.82a101,101,0,0,1-.45-16.68,63.64,63.64,0,0,1,3.74-18.82c-1.31-.79-7.82-4.89-11.42-10.64s-5.14-18.29-5.35-20.22c-1.61-.18-10.4-1.27-16.92-4.22Z'/%3E%3Cpath class='cls-1' d='M69.88,16.4c.05,0,17,10.1,23,11.83s15.19,4.65,15.22,4.65l.17.06,0,.16s3.59,12.44,10.22,21.53,11.27,10.68,11.29,10.68l.29.11-.1.28c0,.06-7.79,21.38-8,29s.09,9.89.09,9.9l0,.21-.19.08S105.1,111.33,102,115.45a28.82,28.82,0,0,0-4,6.57l-.06.15-.17,0s-7.58.71-11.95,4.88a79.86,79.86,0,0,0-6.77,7.16l-.25.31-.23-.37s-9.51-15.62-17.28-17.77a26.82,26.82,0,0,0-13.42-.56l-.35.1,0-.37s-.91-9.06-7.12-14.71-15.19-8.4-15.21-8.41l-.42-.13L25,92s8.15-11,8.47-18.17-4.6-18.11-4.62-18.14l-.11-.26.24-.11s11.54-4.9,13.94-9.2S49.42,33,49.43,33l0-.1.1,0s4.36-1.52,10.66-6.95a66.91,66.91,0,0,0,9.26-9.42l.15-.2.23.14ZM92.77,28.79C87.12,27.14,71.87,18.22,69.84,17a70.54,70.54,0,0,1-9.2,9.31c-5.81,5-10,6.74-10.71,7-.45,1-4.18,9-6.48,13.1S31.19,55,29.51,55.74c.74,1.71,4.85,11.53,4.56,18.16s-7,16.25-8.34,18.13c1.85.62,9.48,3.36,15,8.42s7,13,7.29,14.75a28.23,28.23,0,0,1,13.39.64c7.31,2,15.94,15.31,17.44,17.69a85.69,85.69,0,0,1,6.55-6.9c4.13-3.93,11-4.87,12.11-5a31.59,31.59,0,0,1,4-6.55c3-4,18.07-10,19.92-10.69a78.69,78.69,0,0,1-.07-9.79c.25-7.19,7.1-26.39,8-28.87-1.14-.52-5.53-2.89-11.29-10.79-6.26-8.58-9.83-20.06-10.28-21.56-1.28-.4-9.51-3-15-4.59Z'/%3E%3Cpath class='cls-1' d='M73.59,62.82s2.55,3.82,3.88,4.83,4.23,1.24,4.24,1.24l.44,0-.16.38s-.75,1.73,1,4.1a10.17,10.17,0,0,0,3,3.09l.24.13-.09.24s-1.14,3-.63,5.11,3.72,5.42,3.73,5.43l.7.73-1-.26s-5.25-1.44-6.53.39A4.52,4.52,0,0,0,81.71,92L82,93l-.79-.79s-3.29-3.27-4.13-3a2.67,2.67,0,0,0-1.35,1.34l-.28.63-.26-.69s-.88-2.4-2.73-2.63a17.22,17.22,0,0,0-4.27.13l-.44.07.07-.43s.61-3.17-.13-3.74a29.08,29.08,0,0,0-2.65-1.69l-.33-.19.23-.26s2.31-2.58,1.89-3.6c-.48-1.19-1-2.61-1-2.62l-.13-.36h.38s2.32,0,2.82-1.1a11.67,11.67,0,0,0,.64-3.42v-.22l.23,0s1.61-.15,2.49-2.78A13,13,0,0,0,73.05,63L73,61.89l.62.93Zm3.55,5.28a24.82,24.82,0,0,1-3.51-4.23,15.13,15.13,0,0,1-.78,4c-.78,2.34-2.17,2.94-2.71,3.09a11.61,11.61,0,0,1-.68,3.42c-.49,1.08-2.17,1.32-2.93,1.38.18.49.53,1.43.87,2.25.45,1.1-1.15,3.18-1.76,3.91a26.69,26.69,0,0,1,2.41,1.56c.83.64.59,2.95.44,3.91a17.37,17.37,0,0,1,4-.07,4.3,4.3,0,0,1,3,2.48,2.91,2.91,0,0,1,1.36-1.1c.89-.32,3.08,1.55,4.15,2.54a5.21,5.21,0,0,1,1-3.36c1.13-1.61,4.62-1.12,6.26-.79-1-1.11-2.87-3.39-3.28-5.06a10.62,10.62,0,0,1,.57-5.2,12.65,12.65,0,0,1-3-3.14,5.35,5.35,0,0,1-1.16-4.29,10.33,10.33,0,0,1-4.19-1.33Z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 100%;
    content: '';
    content: '';
    height: 100%;
    left: -15%;
    mix-blend-mode: color-dodge;
    pointer-events: none;
    position: absolute;
    top: -10%;
    width: 60%;
    z-index: 10;

    @include media-query('md') {
      top: -21%;
      width: 50%;
    }
  }
}
