// First up: config and functions

@import 'config';

// About page specific vars
:root {
  --cover-max-width: 100rem;
  --cover-max-height: 60rem;
}

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens

@import '../../node_modules/gorko/gorko';


// Pull in blocks

@import 'blocks/floating-header';
@import 'blocks/cover';
@import 'blocks/films';
@import 'blocks/about-body';
@import 'blocks/header-anchor';
@import 'blocks/page-content';
@import 'blocks/recently-played';
@import 'blocks/coding-stats';

// Pull in utilites

@import 'utilities/subhead';
