// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko';

// Pull in blocks
@import 'blocks/page-content';
@import 'blocks/header-anchor';
@import 'blocks/featured-image';
@import 'blocks/article-header';
@import 'blocks/post-image';
@import 'blocks/webmentions';
@import 'blocks/video';
@import 'blocks/toc';
@import 'blocks/post-series';
@import 'blocks/star-rating';
@import 'blocks/up-next';

// Pull in utilities
@import 'utilities/subhead';
@import 'utilities/inner-wrapper';
@import 'utilities/alert';
@import 'utilities/mini-headline';

@import 'syntax';

.video {
  margin-left: 50%;
  margin-top: -#{get-size('700')};
  padding: 0 get-size('600');
  transform: translateX(-50%);
  width: 100vw;

  @include media-query('md') {
    margin-top: -#{get-size('900')};
  }

  &::before {
    background-color: var(--color-bg-alt);
    bottom: 50%;
    content: '';
    display: block;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
  }
}
