// First up: config and functions
@import 'config';

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

@import 'reset';
@import 'mono-fonts';

// Global styles start
:root {
  --flow-space: #{get-size('600')};
}

html {
  font-size: clamp(13.5px, 1.3vw, 18.5px);
}

body {
  background: get-color('light');
  color: get-color('dark');
  line-height: 1.6;
  font-size: get-size('500');

  @include apply-utility('font', 'base');
}

a:not([class]) {
  color: get-color('secondary');
  text-decoration-color: get-color('secondary-glare');
  hyphens: none;

  &:visited {
    color: get-color('dark-glare');
  }
}

:focus {
  outline: 2px dashed get-color('primary');
  outline-offset: 0.25rem;
}

main:focus {
  outline: none;
}

h1 {
  color: get-color('dark-shade');
  font-weight: 800;

  @include apply-utility('font', 'display');
  @include apply-utility('leading', 'flat');
}

h2,
h3 {
  font-weight: 700;
  hyphens: none;

  @include apply-utility('font', 'heading');
  @include apply-utility('leading', 'flat');
}

h2 {
  color: get-color('dark-shade');
}

h3 {
  color: get-color('dark');
}

ul:not([class]) {
  list-style: none;
  padding-left: get-size('700');
  li {
    position: relative;

    &:before {
      border-radius: 50%;
      color: get-color('light-shade-text');
      content: '•';
      display: inline-block;
      position: absolute;
      left: -1em;
      top: -0.1em;
      font-family: system, -apple-system, BlinkMacSystemFont, Avenir, sans-serif;
    }
    + li {
      margin-top: 0.3rem;
    }
  }
  ul,
  ol {
    margin-top: get-size('300');
    margin-bottom: get-size('300');
  }
}

ol:not([class]),
.footnotes-list {
  counter-reset: section;
  list-style: none;
  padding-left: get-size('700') !important;

  li {
    position: relative;

    &:before {
      color: get-color('light-shade-text');
      content: counter(section);
      counter-increment: section;
      font-size: 0.85em;
      font-weight: bold;
      left: -3em;
      padding-right: 0.55em;
      position: absolute;
      text-align: right;
      top: 0.15em;
      width: 3em;
      @include apply-utility('font', 'mono');
    }

    &:nth-child(-n + 9):before {
      content: counter(section);
    }

    + li {
      margin-top: 0.3rem;
    }

    ol {
      counter-reset: section;
    }
  }
  ul,
  ol {
    margin-top: get-size('300');
    margin-bottom: get-size('300');
  }
}

// High contrast selection because it can help visually-impaired
// folks read the text easier
::selection {
  color: get-color('light');

  background: rgba(get-color('dark'), 0.99);
}

// Scrollbar styles
::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background-color: get-color('primary-glare');
}

::-webkit-scrollbar-thumb {
  background-color: get-color('primary');
  border-radius: 25rem;
}

// Import blocks
@import 'blocks/button';
@import 'blocks/page-header';
@import 'blocks/skip-link';
@import 'blocks/site-name';
@import 'blocks/site-header';
@import 'blocks/nav';
@import 'blocks/site-footer';
@import 'blocks/newsletter-form';
@import 'blocks/social-links';
@import 'blocks/blogroll';
@import 'blocks/subfooter';
@import 'blocks/subnav';

// Import utilities
@import 'utilities/flow';
@import 'utilities/radius';
@import 'utilities/visually-hidden';
@import 'utilities/wrapper';
@import 'utilities/headline';
@import 'utilities/hyphens';
@import 'utilities/frame';
@import 'utilities/site-wrap';
@import 'utilities/panel';
@import 'utilities/emoji';
@import 'utilities/wave';
