// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

.note__body {
  margin-top: get-size('900');

  @include media-query('md') {
    margin-top: 8rem;
  }
}

.note__footer {
  margin-bottom: get-size('700');

  @include media-query('md') {
    margin-bottom: get-size('900');
  }
}

.note__url {
  font-size: get-size('400');
  color: var(--color-text-alt);
}

// Pull in blocks
@import 'blocks/page-content';
@import 'blocks/webmentions';

// Utilities
@import 'utilities/inner-wrapper';

@import 'syntax';
