// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko.scss';

// Pull in blocks
@import 'blocks/header-anchor';
@import 'blocks/page-content';
@import 'blocks/featured-image';

// Pull in utilites

@import 'syntax';
