// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko';

.photo-landing {
  display: grid;
  grid-gap: 0.2rem;
  grid-template-columns: repeat(3, 1fr);
  margin-left: 50% !important;
  transform: translateX(-50%);

  width: 100vw;

  @include media-query('md') {
    grid-gap: get-size('600');
    margin-left: 0 !important;
    padding-bottom: get-size('900') !important;
    padding-top: get-size('900') !important;
    transform: none;
    width: auto;
  }
}

.photo__url {
  display: block;
  overflow: hidden;
  position: relative;

  svg {
    bottom: get-size('400');
    fill: #fff;
    height: get-size('500');
    left: get-size('400');
    position: absolute;
    width: get-size('500');
  }

  img {
    transition: transform 0.3s;
  }

  &:hover,
  &:focus {
    img {
      transform: scale(1.15);
    }
  }
}
