// First up: config and functions
@import 'config';

// Set Gorko to output no CSS for this file
$outputTokenCSS: false;

// Next: pull in gorko for design tokens
@import '../../node_modules/gorko/gorko';

.photos {
  background-color: var(--color-bg-alt);
}

.photo__body {
  margin-top: get-size('800');

  @include media-query('md') {
    margin-top: 8rem;
  }
}

.photo__footer {
  margin-bottom: get-size('700');

  @include media-query('md') {
    margin-bottom: get-size('900');
  }
}

.photo__url {
  color: var(--color-text-alt);
  font-size: get-size('400');
}

.photo-list {
  img {
    border-radius: 0.25rem;
  }
}

// Pull in blocks
@import 'blocks/page-content';
@import 'blocks/webmentions';

// Utilities
@import 'utilities/inner-wrapper';
