<ul class="archive__list">
  {%- for item in archiveListItems -%}
    {% if item.data.type === 'article' %}
      <li class="archive__item" data-variant="article">
        {% include 'partials/archive/article.html' %}
      </li>
    {% else %}
      <li class="archive__item">
        <a class="archive__url" href="{{ item.url }}"><time class="archive__date" datetime="{{ page.date | dateIso }}">{{ item.date | dateReadable('L') }}</time></a>: <span class="hyphens">{{ item.templateContent | striptags(true) | truncate(90) }}</span>
      </li>
    {% endif %}
  {%- endfor -%}
</ul>
