{% set letterboxdItems = letterboxd.slice(0,5) %}

<div class="[ films ] [ frame ] [ bg-light-glare flow flow-space-300 ]" data-frame="light-shade">
  <h1 class="[ film__heading ] [ headline ]">Film Diary</h1>
  <p>A list of my recently watched films. Follow me on <a href="{{ site.letterboxd }}" target="_blank" rel="noopener">Letterboxd</a>.</p>

  <div class="film__items gap-bottom-600">
    {% for item in letterboxdItems %}
    <article class="film__entry">
      <a href="{{ item.uri }}" class="film__url">
        <div class="film__media">
          <img 
            src="https://res.cloudinary.com/smithtimmytim/image/fetch/f_auto,q_auto/{{ item.film.image.tiny }}"
            alt="Poster for {{ item.film.title }}"
            loading="lazy">
        </div>
        <div class="film__info">
          <span class="film__title">{{ item.film.title }}<span class="film__rating">{{ item.rating.text }}</span></span>
          <span class="film__watched-date">{{ item.date.watched | dateLetterboxd }}</span>
        </div>
      </a>
    </article>
    {% endfor %}
  </div>
</div>
