<a href="#main-content" class="[ skip-link ] [ button ]">Skip to content</a>
<header class="floating-header" role="banner">
  <div class="wrapper">
    <nav class="[ nav ] [ site-header__nav ]" aria-label="Primary Navigation">
      <ul class="nav__list">
        <li><a href="/" class="nav__url">Home</a></li>
        {% for item in navigation.items %}
          <li>
            <a class="nav__url"{% if layout === 'layouts/note.html' and item.url === '/blog/' %} data-state="active"{% endif %} href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
          </li>
        {% endfor %}
      </ul>
    </nav> 
  </div>
</header>
