
<div class="newsletter-form">
  <form class="[ newsletter-form__inner ] [ js-cm-form ]" id="subForm" action="https://www.createsend.com/t/subscribeerror?description=" method="post" data-id="2BE4EF332AA2E32596E38B640E9056195E82CA906D496E449CBDF2CF71DA36DAAA4F54A4881761DFA22792CBC17CE2168AF69DDB86F12E8068D46AB5555DA416">
    <div class="newsletter-form__section">
      <input aria-label="Name" id="fieldName" maxlength="200" name="cm-name">
      <label>Name </label>
    </div>

    <div class="newsletter-form__section">
      <input autocomplete="Email" aria-label="Email" class="js-cm-email-input qa-input-email" id="fieldEmail" maxlength="200" name="cm-jrcuy-jrcuy" required="" type="email">
      <label for="fieldEmail">Email </label>
    </div>

    <button class="button" type="submit">Subscribe</button>
  </form>
</div>

<script type="text/javascript" src="https://js.createsend1.com/javascript/copypastesubscribeformlogic.js"></script>
