{% if series %}
{% set postSeries = collections.series | getSeries(series) | first %}

<div class="[ post-series ] [ frame bg-light-glare gap-top-700 md:gap-top-800 ]" data-frame="primary">
  <div class="series__info">
    <h3 class="series__title">
      <small>Series</small>
      {{ postSeries.data.title }}
    </h3>
    <div class="series__description">
      {{ postSeries.templateContent | safe }}

      <a class="series__url" href="/series/{{ postSeries.fileSlug }}">View Series &rarr;</a>
    </div>
  </div>

  <div class="series__items">
    {% set seriesItems = helpers.filterCollectionByTaxonomy(collections.articles,series, 'series',page.url, 6) %}

    <ul class="series__list">
      {% for item in seriesItems %}
        <li class="series-item"><a class="series-item__url" href="{{ item.url }}">{{ item.data.title }}</a></li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
