{% if lastfm.recenttracks.track.length %}
<div class="recently-played bg-light-glare panel">
  <div class="[ recently-played__inner ] [ wrapper flow flow-space-300 ]">
    <h2 class="headline">Listening To</h2>
    <p class="measure-medium">I do some of my best work listening to music. Here's a list of tracks I've got playing. Follow me on <a href="{{ site.appleMusic }}" target="_blank">Apple Music</a>.</p>
    <ul class="recently-played__list">
      {% for item in lastfm.recenttracks.track %}
        <li class="track">
          <a href="{{ item.url }}" class="track__url">
            <div class="track__media">
              <img 
                src="{{ item.image[3]['#text'] }}"
                alt="Album artwork for {{ item.name }} by {{ item.artist['#text'] }}"
                loading="lazy" />
            </div>
            
            <span class="track__name">{{ item.name | widont }}</span>
            <span class="track__artist">{{ item.artist['#text'] | widont }}</span>
          </a>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% endif %}
