<div class="wave" style="{% if page.fileSlug === 'front-page' %}background-color:var(--color-bg-alt){% else %}background-color:var(--color-bg-){% endif %};">
  <svg fill="var(--color-footer-bg)" preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill-opacity="1" d="M0,160L30,138.7C60,117,120,75,180,53.3C240,32,300,32,360,74.7C420,117,480,203,540,197.3C600,192,660,96,720,96C780,96,840,192,900,192C960,192,1020,96,1080,48C1140,0,1200,0,1260,10.7C1320,21,1380,43,1410,53.3L1440,64L1440,320L1410,320C1380,320,1320,320,1260,320C1200,320,1140,320,1080,320C1020,320,960,320,900,320C840,320,780,320,720,320C660,320,600,320,540,320C480,320,420,320,360,320C300,320,240,320,180,320C120,320,60,320,30,320L0,320Z"></path></svg>
</div>
<footer class="site-footer" role="contentinfo">
  <div class="[ site-footer__inner ] [ wrapper ]">
    <div class="site-footer__area">
      <h2 class="footer__heading">Let’s be Friends</h2>
      <p>I love getting email from actual people. If you’d like to hire me, invite me to speak at your event, or just say hello, please reach out! My email address is: <a href="mailto:tim@smithtimmytim.com" class="site-footer__link">tim@smithtimmytim.com</a></p>
      {% include "partials/social-links.html" %}
    </div>
    <div class="site-footer__area">
      <h2 class="footer__heading">Blogroll</h2>
      <p>Here are some people that I enjoy reading.</p>
      {% include "partials/blogroll.html" %}
    </div>
    <div class="subfooter">
      <small>Proudly built with <a href="https://www.11ty.dev/" class="site-footer__link">Eleventy</a>. Hosted on <a href="https://www.netlify.com/" class="site-footer__link">Netlify</a>. Made with {% include "partials/icons/icon-heart.svg" %} in Vista, CA.</small>
      <small>&copy;&thinsp;Timmmmy.</small>
    </div>
    {% include "partials/subnav.html" %}
  </div>

</footer>
