<a href="#main-content" class="skip-link button">Skip to content</a>
<header class="site-header" role="banner"{% if isCaseStudy %} style="background-color: #{{ color }}" data-variant="light"{% endif %}>
  <div class="wrapper">
    <div class="site-header__inner">
      <div class="site-name__wrapper">
        <a href="/" aria-label="{{ site.name }} - home" class="site-name">
          {% include "partials/icons/icon-smith-logo.svg" %}
        </a>
        <ul class="site-pronouns">
          <li>he</li>
          <li>him</li>
        </ul>
      </div>
      <nav class="[ nav ] [ site-header__nav ]" aria-label="Primary">
        <ul class="nav__list">
          {% for item in navigation.items %}
            <li>
              <a class="nav__url"{% if layout === 'layouts/note.html' and item.url === '/blog/' %} data-state="active"{% endif %} href="{{ item.url }}" {{ helpers.getLinkActiveState(item.url, page.url) | safe }}>{{ item.text }}</a>
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
</header>
