<footer class="[ site-footer ] [ bg-dark-shade color-light ]" role="contentinfo">
  <div class="[ site-footer__inner ] [ wrapper ]">
    <div class="site-footer__area">
      <h2 class="footer__heading">Let’s be Friends</h2>
      <p>I love getting email from actual people. If you’d like to hire me, invite me to speak at your event, or just say hello, please reach out! My email address is: <a href="mailto:smith@ttimsmith.com" class="site-footer__link">smith@ttimsmith.com</a></p>
      {% include "partials/social-links.html" %}
    </div>
    <div class="site-footer__area">
      <h2 class="footer__heading">Blogroll</h2>
      <p>Here are some people that I enjoy reading.</p>
      {% include "partials/blogroll.html" %}
    </div>
    <div class="subfooter">
      <small>Proudly built with <a href="https://www.11ty.dev/" class="site-footer__link">Eleventy</a>. Hosted on <a href="https://www.netlify.com/" class="site-footer__link">Netlify</a>. Made with {% include "partials/icons/icon-heart.svg" %} in Oceanside, CA.</small>
      <small>&copy;&thinsp;{{ page.date | dateReadable('YYYY') }} Timothy B. Smith.</small>
    </div>
  </div>

</footer>
