<ul class="social-links">
  <li>
    <a
      title="YouTube Channel"
      aria-label="Tim on YouTube"
      rel="me"
      target="_blank"
      rel="noopener"
      href="{{ site.youtube }}">
      {% include "partials/icons/icon-youtube.svg" %}
      </a>
  </li>
  <li>
    <a
      title="Twitter"
      aria-label="Tim on Twitter"
      rel="me"
      target="_blank"
      rel="noopener"
      href="{{ site.twitter }}">
      {% include "partials/icons/icon-twitter.svg" %}
      </a>
  </li>
  <li>
    <a
      title="Micro.blog"
      aria-label="Tim on Micro.blog"
      rel="me"
      target="_blank"
      rel="noopener"
      href="{{ site.microBlog }}">
      {% include "partials/icons/icon-micro.svg" %}
      </a>
  </li>
  <li>
    <a
      title="GitHub"
      aria-label="Tim on GitHub"
      rel="me"
      target="_blank"
      rel="noopener"
      href="{{ site.github }}">
      {% include "partials/icons/icon-github.svg" %}
      </a>
  </li>
  <li>
    <a
      title="Apple Music"
      aria-label="Tim on Apple Music"
      rel="me"
      target="_blank"
      rel="noopener"
      href="{{ site.appleMusic }}">
      {% include "partials/icons/icon-apple-music.svg" %}
      </a>
  </li>
  <li>
    <a
      title="Letterboxd"
      aria-label="Tim on Letterboxd"
      rel="me"
      target="_blank"
      rel="noopener"
      href="{{ site.letterboxd }}">
      {% include "partials/icons/icon-letterboxd.svg" %}
      </a>
  </li>
</ul>
