<div class="[ up-next ] [ gap-top-700 md:gap-top-900 gap-bottom-700 md:gap-bottom-900 ]">
  <div class="wrapper">
    <div class="inner-wrapper">
    
      <h2 class="mini-headline gap-bottom-400">Up Next</h2>
      {% set nextPosts = helpers.getSiblingContent(collections.articles, page) %}

      <ul class="up-next__list">
        {% for item in nextPosts %}
          <li class="next-list__item"><a class="next-list__url" href="{{ item.url }}">{{ item.data.title }}</a>&nbsp;<time datetime="{{ item.date | dateIso }}" class="dt-published">{{ item.date | dateReadable }}</time></li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
