{% set absoluteUrl %}{{ site.url }}{{ page.url }}{% endset %}
{% set mentions = webmentions.children | webmentionsForUrl(absoluteUrl) %}
{% set likeCount = webmentions.children | webmentionCountByType(absoluteUrl, "like-of") %}

{% if mentions.length %}
<div class="webmentions panel bg-light-glare">
  <div class="wrapper">
    <div class="webmentions__inner">
      <h2 class="webmentions__headline">
        Webmentions
        <span class="webmentions__stat " aria-label="Mentions: {{ mentions | length }}">
          {% include "partials/icons/icon-chat-bubble.svg" %}
          <span class="webmentions-stat__number">{{ mentions | length }}</span>
        </span>
        {% if likeCount > 0 %}
          <span class="webmentions__stat" aria-label="Likes: {{ likeCount }}">
            {% include "partials/icons/icon-heart.svg" %}
            <span class="webmentions-stat__number">{{ likeCount }}</span>
          </span>
        {% endif %}
      </h2>
      <ol class="webmentions__list">
        {% for webmention in mentions | reverse %}
          <li class="webmentions__item">
            {% include "partials/webmention.html" %}
          </li>
        {% endfor %}
      </ol>
    </div>
  </div>
</div>
{% endif %}
